body {
    margin: 0;
    background: #333;
    color: white;
}

.titlebar {
    height: 30px;
    background: #222;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    app-region: drag;
}